<h2>Transaction Information</h2>
<table class="table" style="width: 500px;">
    <thead >
      <tr>
        <th scope="col">Label</th>
    <th scope="col">Description</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">ID</th>
        <td></td>

      </tr>
      <tr>
        <th scope="row">FullName</th>
        <td></td>

      </tr>
      <tr>
        <th scope="row">Emissiom Date</th>
        <td></td>

      </tr>
      <tr>
        <th scope="row">Balance</th>
        <td></td>

      </tr>
      <tr>
        <th scope="row">Beneficiary FullName</th>
        <td></td>

      </tr>
    <!--service par débit -->
    <div class="div">
        <form #ajoutForm="ngForm"   (ngSubmit)="goToConn(ajoutForm.value)">
          <div class="form-group">
            <label for="exampleInputEmail1">
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" style="margin-right: 5px;" fill="currentColor" class="bi bi-wallet2" viewBox="0 0 16 16">
                <path d="M12.136.326A1.5 1.5 0 0 1 14 1.78V3h.5A1.5 1.5 0 0 1 16 4.5v9a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 13.5v-9a1.5 1.5 0 0 1 1.432-1.499L12.136.326zM5.562 3H13V1.78a.5.5 0 0 0-.621-.484L5.562 3zM1.5 4a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-13z"/>
              </svg>Wallet</label>
            <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter phone number" name="phone" ngModel placeholder="wallet number">
    
          </div>
          </form>
          </div>
    <div class="div">
        <form #ajoutForm="ngForm"   (ngSubmit)="goToConn(ajoutForm.value)">
          <div class="form-group">
            <label class="label" for="exampleInputEmail1"> OTP</label>
            <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter phone number" name="phone" ngModel placeholder="OTP">
    
          </div>
          
    
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
            <label class="form-check-label" for="flexCheckChecked">
              Send notification
            </label>
          </div>
          <button type="submit" class="btn btn-primary" >Submit</button>
        </form>
      </div>
    </tbody>
  </table>
  