<mat-nav-list>
    <div class="logo py-4">
      <img src="../assets/loginBackground.png" alt="Company Logo" class="image" />
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2">APPLICATIONS</h2>
  
    <a mat-list-item routerLinkActive="list-item-active" routerLink="profile">
      <mat-icon>profile</mat-icon> Profile
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="profile">
      <mat-icon>profile</mat-icon> Profile
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="createaccounts">
      <mat-icon>home</mat-icon> home
    </a>
    <a mat-list-item> <mat-icon>edit</mat-icon> Link 3 </a>
    <a mat-list-item> <mat-icon>edit</mat-icon> Link 4 </a>
    <a mat-list-item> <mat-icon>edit</mat-icon> Link 5 </a>
    <a mat-list-item> <mat-icon>edit</mat-icon> Link 6 </a>
  </mat-nav-list>

