<mat-nav-list>
    <div class="logo py-4">
      <img src="../assets/bankLogo.png" alt="Company Logo" class="image" />
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2">APPLICATIONS</h2>
  
    <a mat-list-item routerLinkActive="list-item-active" routerLink="profile">
      <mat-icon>profile</mat-icon> Profile
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="enespece">
      <mat-icon></mat-icon> Emission en espece
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="pardebit">
      <mat-icon></mat-icon> Emission par Debit
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="createaccounts">
      <mat-icon>home</mat-icon> home
    </a>
    <a mat-list-item routerlinkActive="list-item-active" routerLink="servir-par-debit"> <mat-icon>edit</mat-icon> service par débit  </a>
    <a mat-list-item routerlinkActive="list-item-active" routerLink="servir-par-espèce"> <mat-icon>edit</mat-icon> service par espèce</a>
    
  </mat-nav-list>

