
  <div class="login">
    
      <img class="img" src="../../assets/img/loginBackground.png">
    
    <div class="formu">
      <div class="header">
      <h1>Bienvenue au portail Agent</h1>
      <p>Veuillez saisir votre login pour se connecter .</p><div>
      <form action="/Home" method="get">
        <input type="text" name="username" placeholder="username" ><br>
        <input type="password" name="password" placeholder="password">
        <button (click)="loginUser()">Login</button>
        
      </form>
      
    </div>
  </div>

