<div class="adjust-all">
    <div class="conteneur">
        <div class="solde">
            Solde Actuelle : <span>MAD </span>
        </div>

        <div class="diviser">
            <div class="heee">
                <div style="width : 50%">
            <p class="title">Détails Personnel</p>
                 </div>
            </div>
            <div class="hello">
                <div class="better left-details">
                    <p>Nom complet</p>
                    <p>Adresse</p>
                </div>
                <div class="better">
                    <p></p>
                    <p><br>                        
                    </p>
                </div>
            </div>
        </div>
        <div class="diviser">
            <div class="heee">
                <div style="width : 50%">
                    <p class="title">Adresse Email</p>
                 </div>
            </div>
            <div class="hello">
                <div class="better left-details">
                    <p>Email (Principale)</p>
                </div>
                <div class="better">
                    <p></p>      
                </div>
            </div>
        </div>
        <div class="diviser">
            <div class="heee">
                <div style="width : 50%">
                   <p class="title">Numéro Télephone</p>
                 </div>
            </div> 
             <div class="hello">
                <div class="better left-details">
                    <p>Télephone (Principale)</p>
                </div>
                <div class="better">
                    <p>***************</p>    
                </div>
            </div>
        </div>
        <div class="diviser">
          
            <div class="heee">
                <div style="width : 50%">
            <p class="title">Mot de passe</p>
                 </div>
                 <div style="width : 50%; text-align:right">
                    <button class="btn mb-2 mb-md-0 btn-outline-primary" style="margin-top: .9rem;padding: .3rem .7rem;">edit</button>
                 </div>
            </div>            
            <div class="hello">
                <div class="better left-details">
                    <p>Password</p>
                    <p >Ancien Mot de Passe</p>
                    
                    <p >Nouveau MDP</p>
                    <p >Confirmer MDP</p>

                </div>
                <div class="better">
                    <p class="pass">*********</p>
                    <div >
                        <input type="text" >
                        <label class="is-invalid"></label>
                        <br>
                        <input type="text" >
                        <label class="is-invalid"></label>
                        <br>
                        <input type="text"> 
                        <label class="is-invalid"></label><br />
                        <button style="margin-top : 10px" class="btn mb-2 mb-md-0 btn-outline-primary">Valider</button>
                    </div>      
                </div>
                
            </div>
        </div>
    </div>
</div>

