

<h2>Client Info</h2>
<table class="table">
  <tr>
    <th scope="col">Label</th>
    <th scope="col">Description</th>

  </tr>
  <tr>
    <td>Title(Mr/Miss)</td>
    <td></td>

  </tr>
  <tr>
    <td>Name</td>
    <td></td>

  </tr>
  <tr>
    <td>Type of identity card</td>
    <td></td>

  </tr>
  <tr>
    <td>Emission Country</td>
    <td></td>

  </tr>
  <tr>
    <td>N ID Card</td>
    <td></td>

  </tr>
  <tr>
    <td>ID Card validity</td>
    <td></td>

  </tr>
  <tr>
    <td>Date of Birth</td>
    <td></td>

  </tr>
  <tr>
    <td>Profession</td>
    <td></td>

  </tr>
  <tr>
    <td>Nationality Country</td>
    <td></td>

  </tr>
  <tr>
    <td>Adress Country </td>
    <td></td>

  </tr>
  <tr>
    <td>Adress</td>
    <td></td>

  </tr>
  <tr>
    <td>City</td>
    <td></td>

  </tr>
  <tr>
    <td>GSM</td>
    <td></td>

  </tr>
  <tr>
    <td>Email</td>
    <td></td>

  </tr>
</table>

<button type="submit" class="btn button" data-bs-toggle="modal" data-bs-target="#form_number" (click)="goToTransfert()">Next</button>



